.about {
    padding: 75px 0;
    text-align: center;
}

.about .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .imageContainer {
    width: 37%;
}

.imageContainer img {
    width: 100%;
}

.about .textContent {
    width: 45%;
    margin-left: 40px;
}

.about p {
    text-align: justify;
    margin: 0;
}

.textContent p:first-child,
.textContent p:nth-child(2),
.textContent p:nth-child(3) {
    margin-bottom: 20px;
}
