footer {
    margin-left: 8%;
    padding-top: 10px;
    background-color: $primary;
}

.contacts {
    text-align: center;
    color: $secondary;

    >p {
        margin-top: 75px;
        padding: 0 0 15px 0;
        font-size: 1.6rem;
    }
}

.contacts .container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contacts .textContent {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;

    width: 36%;
    margin-right: 90px;
    text-align: justify;

    .socialMedia {
        position: absolute;
        bottom: 5px;

        display: flex;
        justify-content: space-around;
        width: 100%; 
    }

    a:hover i,
    a:focus i {
        color: $interactive;
    }

    i {
        color: $secondary;
        font-size: 3rem;
        transition: all 0.2s;
    }
}

.contacts form {
    width: 45%;
    border-radius: 20px;

    fieldset {
        display: flex;
        justify-content: center;

        margin: 0;
        padding: 0;
        border: none;
    }

    input {
        width: calc(45% - 2.5px);
    }

    input:first-of-type {
        margin-right: 5px;
    }

    textarea {
        height: 150px;
        margin-top: 5px;
        
        resize: none;
    }

    input,
    textarea {
        padding: 10px 10px;
        overflow: hidden;

        font-size: 1.8rem;

        transition: all 0.2s;
    }

    input, 
    textarea,
    button {
        border-radius: 5px;
        border: none;
    }

    textarea,
    button {
        width: 90%;
    }

    button {
        margin: 5px 0;
        padding: 10px 0;
        
        background-color: $secondary;
        transition: all 0.3s;
    }

    ::placeholder {
        color: $primary;
        opacity: 0.5;
    }
    
    input:hover,
    input:focus,
    textarea:hover,
    textarea:focus {
        background-color: #dad6d6;
        border-radius: 5px;
        outline: none;
    }

    input:hover::placeholder,
    input:focus::placeholder,
    textarea:hover::placeholder,
    textarea:focus::placeholder {
        color: $primary;
        opacity: 1;
    }

    button:hover,
    button:focus {
        background-color: $interactive;
        cursor: pointer;
    }

    input:required,
    input:invalid,
    textarea:required,
    textarea:invalid {
        box-shadow:none;
    }
}


