html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: calc(1.6rem + 0.2vw);
    width: 100%;
    overflow-x: hidden;
}

main {
    margin-left: 8%;
}

h1 {
    color: white;
    font-size: calc(2.75rem + 1.5vw);
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

h2 {
    font-size: calc(2.9rem + 0.7vw);
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 90px;
    display: inline-block;
    padding: 0 5px;
    border-bottom: 4px solid orange;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.externalContainer {
    background-color: $primary;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none;
}


ul {
    list-style: none;
}

p {
    line-height: 1.5;
}

// img {
//     width: 100%;
//     display: block;
// }