.about {
    padding: 100px 0;
    text-align: center;
}

.about .container {
    display: flex;
    justify-content: center;
}

.about .image-container {
    width: 37%;
}

.image-container img {
    width: 100%;
}

.about .text-content {
    width: 37%;
    margin-left: 40px;
}

.about p {
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

.text-content p:first-child,
.text-content p:nth-child(2) {
    margin-bottom: 20px;
}
