.about {
    padding: 75px 0;
    text-align: center;
}

.about .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .image-container {
    width: 37%;
    float: left;
}

.image-container img {
    width: 100%;
}

.about .text-content {
    width: 45%;
    margin-left: 40px;
    float: left;
}

.about p {
    line-height: 1.5;
    text-align: justify;
    margin: 0;
}

.text-content p:first-child,
.text-content p:nth-child(2) {
    margin-bottom: 20px;
}
