footer {
    margin-left: 8%;
    padding-top: 75px;
    background-color: $primary;
}

.contacts {
    text-align: center;
    color: $secondary;

    >p {
        margin-top: 20px;
        padding: 30px 0;
        font-size: 1.6rem;
    }
}

.contacts .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.contacts .textContent {
    width: calc(50% - 15px);
    margin-left: 30px;
}

.contacts .formContainer {
    width: calc(50% - 15px);
}

.contacts form {
    // background-color: $secondary;
    border-radius: 20px;

    fieldset {
        border: none;
        padding: 0;
    }

    input {
        margin-top: 30px;
        padding: 10px 10px;
        width: 40%;
        border: 3px solid $primary;
        border-radius: 5px;
    }

    textarea {
        margin-top: 30px;
        padding: 10px 10px;
        width: 80%;
        border: 3px solid $primary;
        border-radius: 5px;
        resize: none;
    }

    button {
        margin: 30px 0;
        width: 80%;
        padding: 10px 0;
        border: 3px solid $primary;
        border-radius: 5px;
        background-color: $secondary;
    }

    ::placeholder {
        color: $primary;
        opacity: 1;
    }
    
    input:hover,
    input:focus,
    input:hover::placeholder,
    input:focus::placeholder,
    textarea:hover,
    textarea:focus,
    textarea:hover::placeholder,
    textarea:focus::placeholder,
    button:hover,
    button:focus  {
        background-color: $primary;
        color: white;
        outline: none;
    }
}


