header {
    height: 100vh;
    background-color: $primary; 
    position: relative;
}

.particles {
    height: inherit;
    position: absolute;
    width: 100%;
}

header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.hidden {
    display: none;
}

.visible {
    position: fixed;
    top: 0;
    left: 0;
    // background-color: #D3D3D3;
    height: 100vh;
    width: 8%;
    animation: fadeIn 2s;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;;
        width: 50%;
        height: inherit;
        width: 100%;
        background-color: orange;
    }

    li {
        padding: 10px 0;
        width: inherit;
        display: flex;
        justify-content: center;
        position: relative;
    }

    a {
        padding: 10px 0;
    }

    img,
    a::after {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    a:hover::after,
    a:focus::after {
        width: 220px;
        height: 40px;
        top: 30px;
        left: 115px;
        color: black;
        z-index: 1;
        opacity: 1;
    }

    a:hover img,
    a:focus img {
        top: 10px;
        left: 100px;
        width: 175px;
        height: 70px;
        opacity: 1;
    }

    .rocket::after {
        content: "Go back home";
    }

    .astronaut::after {
        content: "Get to know me"
    }

    .meteor::after {
        content: "Check my toolkit"
    }

    .code::after {
        content: "See my projects"
    }

    .tower::after {
        content: "Chat with me"
    }

    a:hover,
    a:focus {
        outline: none;  
    }

    a:hover i,
    a:focus i {
        transform: scale(0.85);
    }

    i {
        font-size: 4.5rem;
        color: $primary;     
        transition: all 0.2s;  
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caretSquare {
    position: absolute;
    bottom: 25px;
    left: 50%;
    animation-name: caretMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    i {
        color: white;
        font-size: 3.3rem;
    }
}

@keyframes caretMove {
    0%,
    100% {
        bottom: 25px;
    }

    50% {
        bottom: 15px;
    }
}


