header {
    height: 100vh;
    background-color: $primary; 
    position: relative;
}

.particles {
    height: inherit;
    position: absolute;
    width: 100%;
}

header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.mainNav.hidden {
    display: none;
}

.mainNav.visible {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 8%;
    animation: fadeIn 2s;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;;
        width: 50%;
        height: inherit;
        width: 100%;
        background-color: orange;
    }

    li {
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    a {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    img {
        transform: rotate(180deg);
    }

    img,
    a::after {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        color: transparent;
        transition: opacity 0.35s;
    }

    a:hover::after,
    a:focus::after {
        width: 170px;
        height: 40px;
        top: 30px;
        left: 107px;
        font-weight: 600;
        color: black;
        z-index: 1;
        opacity: 1;
    }
     
    a:hover img,
    a:focus img {
        top: 17.5px;
        left: 100px;
        width: 175px;
        height: 50px;
        opacity: 1;
    }

    .rocket::after {
        content: "Go back home";
    }

    .astronaut::after {
        content: "Get to know me"
    }

    .meteor::after {
        content: "Check my toolkit"
    }

    .code::after {
        content: "See my projects"
    }

    .tower::after {
        content: "Chat with me"
    }

    a:hover,
    a:focus {
        outline: none;  
    }

    a:hover i,
    a:focus i {
        transform: scale(0.85);
    }

    i {
        font-size: calc(3rem + 1vw);
        color: $primary;     
        transition: all 0.2s;  
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caretSquare {
    position: absolute;
    bottom: 25px;
    left: calc(50% - (3.3rem / 2));
    animation-name: caretMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    i {
        color: white;
        font-size: 3.3rem;
    }
}

@keyframes caretMove {
    0%,
    100% {
        bottom: 25px;
    }

    50% {
        bottom: 15px;
    }
}


