header {
    height: 100vh;
    background-color: #0a0a0a; 
    position: relative;
}

.particles {
    height: inherit;
    position: absolute;
    width: 100%;
}

header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.hidden {
    display: none;
}

.visible {
    position: fixed;
    top: 0;
    left: 0;
    // background-color: #D3D3D3;
    height: 100vh;
    width: 10%;
    animation: fadeIn 2s;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;;
        width: 50%;
        height: inherit;
        width: 100%;
        background-color: black;
    }

    li {
        padding: 10px 0;
        width: inherit;
        display: flex;
        justify-content: center;
    }

    a {
        padding: 10px 0;
        color: inherit;
    }

    i {
        font-size: 4.5rem;
        color: white;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caretSquare {
    position: absolute;
    bottom: 25px;
    left: 50%;
    animation-name: caretMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    i {
        color: white;
        font-size: 3.3rem;
    }
}

@keyframes caretMove {
    0%,
    100% {
        bottom: 25px;
    }

    50% {
        bottom: 15px;
    }
}


