@media (min-width: 1500px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 5rem;
    }

    .mainNav.visible {
        i {
            font-size: 4.5rem;
        }
    }

    .skills {
        i,
        .iconify {
            font-size: 6rem;
        }

        span {
            font-size: 1.8rem;
        }
    }
    
}

@media (max-width: 1289px) {
    .about .image-container {
        width: 350px;
        
        img {
            border-radius: 40px;
        }
    }
}

@media (max-width: 1035px) {
    .about .text-content {
        width: 80%;
        margin-left: 0;
        margin-top: 60px;
    }

    .skills ul {
       width: 100%;
    }
}

@media (max-width: 880px) {
    
}