@media (min-width: 1500px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    .mainNav.visible {
        i {
            font-size: 4.5rem;
        }
    }

    .skills {
        i,
        .iconify {
            font-size: 6rem;
        }

        span {
            font-size: 1.8rem;
        }
    }
    
}

@media (max-width: 1289px) {
    .about .image-container {
        width: 350px;
        
        img {
            border-radius: 40px;
        }
    }

    .projects .wrapper,
    .contacts .wrapper {
        width: 90%;
    }

    .projects .textContent {
        margin-left: 60px;
    }

    .projects .textContent:nth-of-type(odd) {
    margin-right: 60px;
    }

    .contacts .textContent {
        margin-right: 50px;
    }
}

@media (max-width: 1080px) {
    .mainNav.visible {
        img,
        a::after {
            display: none;
        }

        i {
            font-size: calc(1.5rem + 2.7vw);
        }

        a:hover i,
        a:focus i {
            transform: none;
        }
    }

    .contacts .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacts .textContent {
        margin-right: 0;
        width: 58%;
        padding-bottom: 110px;
    }

    .contacts form {
        width: 65%;
        margin-bottom: 40px;
    }
}

@media (max-width: 1050px) {
    .about {
        padding-bottom: 75px;
    }

    .about h2 {
        margin-bottom: 75px;
    }

    .about .text-content {
        width: 80%;
        margin-left: 0;
        margin-top: 60px;
    }

    .skills {
        padding: 75px 0 75px 0;

        h2 {
            margin-bottom: 75px;
        }

        ul {
           width: 100%;
        }
    }

    .projects {
        h2 {
            margin-bottom: 90px;
        }
    }

    .projects .container {
        > li {
            flex-direction: column;
            align-items: center;
            margin-bottom: 90px;
        }

        li:nth-child(even) {
            flex-direction: column-reverse;
        }

        .textContent {
            width: 50%;
            margin: 50px 0 0 0;
        }

        .textContent:nth-of-type(odd) {
            margin-top: 60px;
            margin-bottom: 0;
        }

        img {
            width: calc(270px + 10vw);
            height: calc(150px + 10vw);
        }
    }
}

@media (max-width: 800px) {
    .projects .container {
        .textContent {
            width: 65%;
        }
    }

    .contacts .textContent {
        margin-right: 0;
        width: 73%;
    }

    .contacts form {
        width: 80%;
    }
}   

@media (max-width: 560px) {
    main,
    footer {
        margin-left: 12%;
    }

    h1 {
        font-size: 6vw;
    }

    .mainNav.visible {
        width: 12%;

        li {
            padding: 5px 0;
        }

        a {
            padding: 10px 0;
        }
    }

    .about .text-content{
        width: 100%;
    }

    .projects .container {
        .textContent {
            width: 80%;
        }
    }

    .contacts .textContent {
        margin-right: 0;
        width: 88%;
    }

    .contacts form {
        width: 95%;
        margin-bottom: 0;
    }

    .contacts .textContent {
        margin-top: 70px;
    }

    .contacts > p {
        width: 70%;
        margin: 70px auto 0 auto;
    }
}

@media (max-width: 420px) {
    .projects .container {
         .textContent {
            width: 90%;
        }

        img {
            width: calc(210px + 14vw);
            height: calc(100px + 14vw);
            transform: none;
        }
    }

    @keyframes text1 {
        0%,
        30%,
        100% {
            width: 0;
        }

        2.5%,
        27.5% {
            width: 9.25em;
        }
    }

    @keyframes text2 {
        0%,
        30%,
        65%,
        100% {
            width: 0;
        }

        32.5%,
        62.5% {
            width: 12.85em;
        }
    }

    @keyframes text3 {
        0%,
        65%,
        100% {
            width: 0;
        }

        67.5%,
        97.5% {
            width: 15.25em;
        }
    }

    @keyframes caret {
        from,
        to {
            color: transparent;
        }

        5%, 
        25%,
        35%,
        60%,
        70%,
        95% {
            color: white;
        }
    }
}