@media (min-width: 1500px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    .mainNav.visible {
        i {
            font-size: 4.5rem;
        }
    }

    .skills {
        i,
        .iconify {
            font-size: 6rem;
        }

        span {
            font-size: 1.8rem;
        }
    }
    
}

@media (max-width: 1289px) {
    .about .image-container {
        width: 350px;
        
        img {
            border-radius: 40px;
        }
    }

    .projects .wrapper,
    .contacts .wrapper {
        width: 90%;
    }

    .projects .textContent {
        margin-left: 60px;
    }

    .projects .textContent:nth-of-type(odd) {
    margin-right: 60px;
    }

    .contacts .textContent {
        margin-right: 50px;
    }
}

@media (max-width: 1080px) {
    .mainNav.visible {
        img,
        a::after {
            display: none;
        }

        i {
            font-size: calc(0.8rem + 3.3vw);
        }

        a:hover i,
        a:focus i {
            transform: none;
        }
    }

    .contacts .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacts .textContent {
        margin-right: 0;
        width: 58%;
        padding-bottom: 50px;
    }

    .contacts form {
        width: 65%;
        margin-bottom: 40px;
    }
}

@media (max-width: 1050px) {
    .about .text-content {
        width: 80%;
        margin-left: 0;
        margin-top: 60px;
    }

    .skills ul {
       width: 100%;
    }

    .projects .container {
        > li {
            flex-direction: column;
            align-items: center;
            margin-bottom: 90px;
        }

        li:nth-child(even) {
            flex-direction: column-reverse;
        }

        .textContent {
            width: 50%;
            margin: 60px 0 0 0;
        }

        .textContent:nth-of-type(odd) {
            margin-top: 60px;
            margin-bottom: 0;
        }

        img {
            width: calc(270px + 10vw);
            height: calc(150px + 10vw);
        }
    }
}

@media (max-width: 800px) {
    .projects .container {
        .textContent {
            width: 65%;
        }
    }

    .contacts .textContent {
        margin-right: 0;
        width: 73%;
        padding-bottom: 50px;
    }

    .contacts form {
        width: 80%;
        margin-bottom: 40px;
    }
}

@media (max-width: 560px) {
    .mainNav.visible {
        li {
            padding: 0;
        }

        a {
            padding: 10px 0;
        }
    }

    .about .text-content{
        width: 100%;
    }

    .projects .container {
        .textContent {
            width: 80%;
        }
    }

    .contacts .textContent {
        margin-right: 0;
        width: 88%;
        padding-bottom: 50px;
    }

    .contacts form {
        width: 95%;
        margin-bottom: 40px;
    }
}

@media (max-width: 420px) {
    .projects .container {
         .textContent {
            width: 90%;
        }

        img {
            width: calc(210px + 14vw);
            height: calc(100px + 14vw);
            transform: none;
        }
    }
}