.projects {
    padding-top: 10px;
    text-align: center;
    color: $secondary;
    background-color: $primary;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    >li {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 150px;
    }
}

.projects .imageContainer {
    width: calc(50% - 30px);
    border-radius: 20px; 

    img {
        border-radius: 17px;
        object-fit: cover;
        width: 420px; 
        height: 300px;
        // width: 28vw;
        // height: 20vw;
    }
}

.imageContainer:hover {
        transform: scale(1.1);
    }

.projects .textContent {
    width: calc(50% - 75px);
    margin-left: 80px;
    text-align: left;
    position: relative;

    h3 {
        font-size: 2.7rem;
        margin-bottom: 10px;
        display: inline-block;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 20px;
        width: 90%;
    }

    .technologies {
        margin-bottom: 30px;

        .decor {
            margin: 0 5px;
        }
    }
}

.projects .textContent:nth-of-type(odd) {
    margin-left: 35px;
    margin-right: 25px;
}

.secondaryNav {
    display: flex;
    position: absolute;
    bottom: 5px;

    a {
        color: $secondary;
        font-weight: 700;
        text-transform: uppercase;
    }

    a:hover,
    a:focus {
        color: $interactive;
    }

    span {
        margin: 0 5px;
    }
}