html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2, h3, h4, p, ul {
  margin: 0;
}

ul {
  padding: 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text1 {
  -webkit-animation: text1;
          animation: text1;
}

.text2 {
  -webkit-animation: text2;
          animation: text2;
}

.text3 {
  -webkit-animation: text3;
          animation: text3;
}

.text1,
.text2,
.text3 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-timing-function: steps(58, end);
          animation-timing-function: steps(58, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.text1::after,
.text2::after,
.text3::after {
  content: '_';
  position: absolute;
  right: 0;
  -webkit-animation: caret infinite;
          animation: caret infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@-webkit-keyframes text1 {
  0%,
  30%,
  100% {
    width: 0;
  }
  2.5%,
  27.5% {
    width: 9.1em;
  }
}

@keyframes text1 {
  0%,
  30%,
  100% {
    width: 0;
  }
  2.5%,
  27.5% {
    width: 9.1em;
  }
}

@-webkit-keyframes text2 {
  0%,
  30%,
  65%,
  100% {
    width: 0;
  }
  32.5%,
  62.5% {
    width: 12.7em;
  }
}

@keyframes text2 {
  0%,
  30%,
  65%,
  100% {
    width: 0;
  }
  32.5%,
  62.5% {
    width: 12.7em;
  }
}

@-webkit-keyframes text3 {
  0%,
  65%,
  100% {
    width: 0;
  }
  67.5%,
  97.5% {
    width: 15.1em;
  }
}

@keyframes text3 {
  0%,
  65%,
  100% {
    width: 0;
  }
  67.5%,
  97.5% {
    width: 15.1em;
  }
}

@-webkit-keyframes caret {
  from,
  to {
    color: transparent;
  }
  5%,
  25%,
  35%,
  60%,
  70%,
  95% {
    color: white;
  }
}

@keyframes caret {
  from,
  to {
    color: transparent;
  }
  5%,
  25%,
  35%,
  60%,
  70%,
  95% {
    color: white;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: calc(1.6rem + 0.2vw);
  width: 100%;
  overflow-x: hidden;
}

main {
  margin-left: 8%;
}

h1 {
  color: white;
  font-size: calc(2.75rem + 1.5vw);
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}

h2 {
  font-size: calc(2.9rem + 0.7vw);
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 90px;
  display: inline-block;
  padding: 0 5px;
  border-bottom: 4px solid orange;
  text-transform: uppercase;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.externalContainer {
  background-color: #0a0a0a;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
}

header {
  height: 100vh;
  background-color: #0a0a0a;
  position: relative;
}

.particles {
  height: inherit;
  position: absolute;
  width: 100%;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.mainNav.hidden {
  display: none;
}

.mainNav.visible {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 8%;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.mainNav.visible ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: inherit;
  width: 100%;
  background-color: orange;
}

.mainNav.visible li {
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.mainNav.visible a {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.mainNav.visible img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mainNav.visible img,
.mainNav.visible a::after {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  color: transparent;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.mainNav.visible a:hover::after,
.mainNav.visible a:focus::after {
  width: 170px;
  height: 40px;
  top: 30px;
  left: 86%;
  font-weight: 600;
  color: black;
  z-index: 1;
  opacity: 1;
}

.mainNav.visible a:hover img,
.mainNav.visible a:focus img {
  top: 17.5px;
  left: 82%;
  width: 175px;
  height: 50px;
  opacity: 1;
}

.mainNav.visible .rocket::after {
  content: "Go back home";
}

.mainNav.visible .astronaut::after {
  content: "Get to know me";
}

.mainNav.visible .meteor::after {
  content: "Check my toolkit";
}

.mainNav.visible .code::after {
  content: "See my projects";
}

.mainNav.visible .tower::after {
  content: "Chat with me";
}

.mainNav.visible a:hover,
.mainNav.visible a:focus {
  outline: none;
}

.mainNav.visible a:hover i,
.mainNav.visible a:focus i {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.mainNav.visible i {
  font-size: 4.5rem;
  color: #0a0a0a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.caretSquare {
  position: absolute;
  bottom: 25px;
  left: calc(50% - (3.3rem / 2));
  -webkit-animation-name: caretMove;
          animation-name: caretMove;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.caretSquare i {
  color: white;
  font-size: 3.3rem;
}

@-webkit-keyframes caretMove {
  0%,
  100% {
    bottom: 25px;
  }
  50% {
    bottom: 15px;
  }
}

@keyframes caretMove {
  0%,
  100% {
    bottom: 25px;
  }
  50% {
    bottom: 15px;
  }
}

.about {
  padding: 75px 0;
  text-align: center;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .image-container {
  width: 37%;
  float: left;
}

.image-container img {
  width: 100%;
}

.about .text-content {
  width: 45%;
  margin-left: 40px;
  float: left;
}

.about p {
  line-height: 1.5;
  text-align: justify;
  margin: 0;
}

.text-content p:first-child,
.text-content p:nth-child(2) {
  margin-bottom: 20px;
}

.skills {
  padding-top: 85px;
  padding-bottom: 110px;
  text-align: center;
  color: #ffffff;
  background-color: #0a0a0a;
}

.skills ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills ul li {
  width: 20%;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.skills ul li:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.skills ul i,
.skills ul .iconify {
  font-size: calc(4.5rem + 1vw);
}

.skills ul span {
  font-size: calc(1.6rem + 0.1vw);
}

.projects {
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #0a0a0a;
}

.projects .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.projects .container > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}

.projects img {
  border-radius: 20px;
  border-radius: 17px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 420px;
  height: 300px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.projects img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .textContent {
  width: 50%;
  margin-left: 80px;
  text-align: left;
  position: relative;
  padding-bottom: 15px;
}

.projects .textContent h3 {
  font-size: 2.7rem;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.projects .textContent p {
  text-align: justify;
  margin-bottom: 20px;
  width: 100%;
}

.projects .textContent .technologies {
  margin-bottom: 10px;
}

.projects .textContent .technologies .decor {
  margin: 0 5px;
}

.projects .textContent:nth-of-type(odd) {
  margin-left: 0;
  margin-right: 80px;
}

.secondaryNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 5px;
}

.secondaryNav a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.secondaryNav a:hover,
.secondaryNav a:focus {
  color: #ffa500;
}

.secondaryNav span {
  margin: 0 5px;
}

footer {
  margin-left: 8%;
  padding-top: 10px;
  background-color: #0a0a0a;
}

.contacts {
  text-align: center;
  color: #ffffff;
}

.contacts > p {
  margin-top: 75px;
  padding: 0 0 15px 0;
  font-size: 1.6rem;
}

.contacts .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contacts .textContent {
  width: 36%;
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
  position: relative;
}

.contacts .textContent p {
  width: 100%;
}

.contacts .textContent .socialMedia {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 5px;
}

.contacts .textContent a:hover i,
.contacts .textContent a:focus i {
  color: #ffa500;
}

.contacts .textContent i {
  color: #ffffff;
  font-size: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contacts form {
  width: 45%;
  border-radius: 20px;
}

.contacts form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts form input {
  padding: 10px 10px;
  width: calc(45% - 2.5px);
  border-radius: 5px;
  font-size: 1.8rem;
  border: none;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contacts form input:first-of-type {
  margin-right: 5px;
}

.contacts form textarea {
  margin-top: 5px;
  height: 150px;
  padding: 10px 10px;
  width: 90%;
  border-radius: 5px;
  resize: none;
  border: none;
  font-size: 1.8rem;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contacts form button {
  margin: 5px 0;
  width: 90%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contacts form ::-webkit-input-placeholder {
  color: #0a0a0a;
  opacity: 0.5;
}

.contacts form :-ms-input-placeholder {
  color: #0a0a0a;
  opacity: 0.5;
}

.contacts form ::-ms-input-placeholder {
  color: #0a0a0a;
  opacity: 0.5;
}

.contacts form ::placeholder {
  color: #0a0a0a;
  opacity: 0.5;
}

.contacts form input:hover,
.contacts form input:focus,
.contacts form textarea:hover,
.contacts form textarea:focus {
  background-color: #dad6d6;
  border-radius: 5px;
  outline: none;
}

.contacts form input:hover::-webkit-input-placeholder,
.contacts form input:focus::-webkit-input-placeholder,
.contacts form textarea:hover::-webkit-input-placeholder,
.contacts form textarea:focus::-webkit-input-placeholder {
  color: #0a0a0a;
  opacity: 1;
}

.contacts form input:hover:-ms-input-placeholder,
.contacts form input:focus:-ms-input-placeholder,
.contacts form textarea:hover:-ms-input-placeholder,
.contacts form textarea:focus:-ms-input-placeholder {
  color: #0a0a0a;
  opacity: 1;
}

.contacts form input:hover::-ms-input-placeholder,
.contacts form input:focus::-ms-input-placeholder,
.contacts form textarea:hover::-ms-input-placeholder,
.contacts form textarea:focus::-ms-input-placeholder {
  color: #0a0a0a;
  opacity: 1;
}

.contacts form input:hover::placeholder,
.contacts form input:focus::placeholder,
.contacts form textarea:hover::placeholder,
.contacts form textarea:focus::placeholder {
  color: #0a0a0a;
  opacity: 1;
}

.contacts form button:hover,
.contacts form button:focus {
  background-color: #ffa500;
  cursor: pointer;
}

@media (min-width: 1500px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  .mainNav.visible i {
    font-size: 4.5rem;
  }
  .skills i,
  .skills .iconify {
    font-size: 6rem;
  }
  .skills span {
    font-size: 1.8rem;
  }
}

@media (max-width: 1289px) {
  .about .image-container {
    width: 350px;
  }
  .about .image-container img {
    border-radius: 40px;
  }
  .projects .wrapper,
  .contacts .wrapper {
    width: 90%;
  }
  .projects .textContent {
    margin-left: 60px;
  }
  .projects .textContent:nth-of-type(odd) {
    margin-right: 60px;
  }
  .contacts .textContent {
    margin-right: 50px;
  }
}

@media (max-width: 1080px) {
  .mainNav.visible img,
  .mainNav.visible a::after {
    display: none;
  }
  .mainNav.visible i {
    font-size: calc(1.5rem + 2.7vw);
  }
  .mainNav.visible a:hover i,
  .mainNav.visible a:focus i {
    -webkit-transform: none;
            transform: none;
  }
  .contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .textContent {
    margin-right: 0;
    width: 58%;
    padding-bottom: 110px;
  }
  .contacts form {
    width: 65%;
    margin-bottom: 40px;
  }
}

@media (max-width: 1050px) {
  .about {
    padding-bottom: 75px;
  }
  .about h2 {
    margin-bottom: 75px;
  }
  .about .text-content {
    width: 80%;
    margin-left: 0;
    margin-top: 60px;
  }
  .skills {
    padding: 75px 0 75px 0;
  }
  .skills h2 {
    margin-bottom: 75px;
  }
  .skills ul {
    width: 100%;
  }
  .projects h2 {
    margin-bottom: 90px;
  }
  .projects .container > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 90px;
  }
  .projects .container li:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects .container .textContent {
    width: 50%;
    margin: 50px 0 0 0;
  }
  .projects .container .textContent:nth-of-type(odd) {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .projects .container img {
    width: calc(270px + 10vw);
    height: calc(150px + 10vw);
  }
}

@media (max-width: 800px) {
  .projects .container .textContent {
    width: 65%;
  }
  .contacts .textContent {
    margin-right: 0;
    width: 73%;
  }
  .contacts form {
    width: 80%;
  }
}

@media (max-width: 560px) {
  main,
  footer {
    margin-left: 12%;
  }
  h1 {
    font-size: 6vw;
  }
  .mainNav.visible {
    width: 12%;
  }
  .mainNav.visible li {
    padding: 5px 0;
  }
  .mainNav.visible a {
    padding: 10px 0;
  }
  .about .text-content {
    width: 100%;
  }
  .projects .container .textContent {
    width: 80%;
  }
  .contacts .textContent {
    margin-right: 0;
    width: 88%;
  }
  .contacts form {
    width: 95%;
    margin-bottom: 0;
  }
  .contacts .textContent {
    margin-top: 70px;
  }
  .contacts > p {
    width: 70%;
    margin: 70px auto 0 auto;
  }
}

@media (max-width: 420px) {
  .projects .container .textContent {
    width: 90%;
  }
  .projects .container img {
    width: calc(210px + 14vw);
    height: calc(100px + 14vw);
    -webkit-transform: none;
            transform: none;
  }
}
